$white: #fff;
$black: #222;
$light-black: #110d0d;
$light-grey: #a5a5a5;
$light-blue: #a4acc7;
$brown: #2b1910;
$lighter-brown: #492c1d;
$light-brown: #704936;
$creamy-white: rgba(247, 247, 239, 0.6);
$blue-white: #e6e7f2;
$dirty-orange: #bf8c63;
$orange: #f66f30;
$red: #dc3545;
$airbnb: #fd5c63;
$booking: #003382;
$skype: #00aff0;
$viber: #665cac;
$whatsapp: #25d366;

$images-path: '../../assets/images' !default;

.bg-light-black {
    background-color: $light-black;
}

.bg-brown {
    background-color: $brown;
}

.bg-creamy-white {
    background-color: $creamy-white;
}

.t-black {
    color: $black;
}

.t-white {
    color: $white;
}

.outline-none {
    outline: none;
}

.decoration-none {
    text-decoration: none;
}
