.section-container.hero {
    background: url(#{$images-path}/fish.jpeg) no-repeat fixed;
    background-size: cover;
    color: $brown;
    text-align: center;

    height: 50rem;
    height: var(--doc-height);
}

.hero {
    &-content {
        display: flex;
    }

    &-header {
    }
}
