.section-container.hero {
    background: url(#{$images-path}/fish.jpg) no-repeat fixed;
    background-size: cover;
    color: $brown;
    text-align: center;

    height: 100vh;
}

.hero {
    &-content {
        display: flex;
    }

    &-header {

    }
}
