.section-container.contacts {
    background: url(#{$images-path}/stones_1920x1080.webp) no-repeat center center fixed;
    background-size: cover;

    .our-contacts {
        .address {
            &-desc {
                &-item {
                    text-align: center;
                }
            }
        }
    }
}

.section-container.no-padding {
    padding-top: 0;
}

.contact-us__mail > .mail-icon {
    height: 20px;
    width: 20px;
}

.contact-us__phones .phone-number {
    font-weight: bolder;
}

.contact-us__mail,
.contact-us__mts,
.contact-us__a1 {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.contact-us,
.contact-us__mts,
.contact-us__a1 {
    padding-top: 0.5rem;
}

.contact-us__mts > .mts-icon,
.contact-us__a1 > .a1-icon {
    height: 18px;
}

.btn-send {
    background: $brown;
    color: $white;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem #9e6132;
    }
}

.contact-modal {
    padding: 0;
}
