/*----------------------- FOOTER ------------------------*/

.footer-social {
  background-color: var(--color-bg-inverse);
  display: flex;
  min-height: 6rem;

  .footer {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .footer-item {
    list-style: none;
    padding: 0 0.5rem;
  }

  .footer-link {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-bold);
    padding: 0.5rem;

    &:hover {
      text-decoration: none;
    }

    &.skype {
      color: $skype;
    }

    &.viber {
      color: var(--color-social-viber-on-inverse);
    }

    &.whatsapp {
      color: var(--color-social-whatsapp-on-inverse);
    }

    .icon-text {
      font-size: var(--font-size-base);
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 767.98px) {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    .container-flex-center {
      justify-content: space-around;
    }
  }

  @media only screen and (min-width: 992px) {
    .container-flex-center {
      justify-content: flex-end;

      .footer {
        padding: 0;
      }
    }
  }
}
