@media only screen and (min-width: 320px) and (max-width: 767.98px) {
    .hero {
        background-image: url(#{$images-path}/fish-600.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover !important;

        color: $brown;
        text-align: center;

        // height: 50rem;
        height: max(50rem, var(--doc-height));

        &-content {
            position: static;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 100%;
        }

        &-header {
            margin: 0 4rem 8rem 4rem;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            > * {
                font-size: 1.5rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        background-image: url(#{$images-path}/fish-600.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover !important;

        color: $brown;
        text-align: center;

        // height: 50rem;
        min-height: max(50rem, var(--doc-height));

        &-content {
            display: flex;
            justify-content: flex-end;
        }

        &-header {
            margin: 2rem auto 0;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            > * {
                font-size: 2rem;
            }
        }
    }
}

@media (min-width: 992px) {
    .hero {
        background-image: url(#{$images-path}/fish-800.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;

        &-content {
            position: sticky;
            top: 1rem;
            display: flex;
            margin-bottom: 2rem;
        }

        &-header {
            margin: 4rem auto 0;

            > * {
                font-size: 2.5rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .hero {
        background-image: url(#{$images-path}/fish.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;

        &-header {
            margin-left: 24rem;
            gap: 4rem;

            > * {
                text-align: center;
                font-size: 2.75rem;
            }
        }
    }
}
