.info-banner {
  display: none;
  padding: 3rem;
  color: #b47572;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 4px solid #b47572;
  border-radius: 8px;
  background-color: #ffffff;
  z-index: 1000;

  &__header {
    font-size: 1.75rem;
  }

  &__link {
    color: inherit;
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;

    &:hover,
    &:focus-visible {
      color: var(--light-brown);
    }

    &:focus-visible {
      outline: 2px solid var(--dirty-orange);
      outline-offset: 2px;
    }
  }
}

.hide-banner {
  animation: fadeOutAnimation ease 1.5s;
}

.show-banner {
  animation: fadeInAnimation ease 1s;

  display: flex !important;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.overlay {
  @include overlay;
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .info-banner {
    width: 90%;

    &__text {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 480px) {
  .info-banner {
    width: 90%;

    &__text {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .info-banner {
    width: 90%;

    &__text {
      font-size: 1rem;
    }
  }
}

@media (min-width: 992px) {
  .info-banner {
    width: 50rem;

    &__text {
      font-size: 1.5rem;
    }
  }
}
