.menu {
  @media only screen and (min-width: 320px) and (max-width: 767.98px) {
    background-color: var(--light-black);

    @include menu;

    min-height: calc(100dvh - 5rem);
    padding: 10px 30px;
    top: 5rem;

    *,
    .navbar-nav .nav-item .nav-link {
      font-size: var(--font-size-base);
    }

    .button-link:hover {
      color: var(--white-hover);
      text-decoration: none;
    }

    .navbar-collapse {
      padding: 0;

      .navbar-nav {
        gap: 0.5rem;
        align-items: flex-start;

        .nav-item {
          max-width: max-content;

          &::before {
            bottom: 0px;
          }

          .house-order {
            font-size: var(--font-size-md);
            cursor: pointer;
          }

          .phone {
            margin-bottom: 0.5rem;
          }

          .nav-link {
            margin: 0;
            padding: 0.2rem 0;
          }
        }
      }

      .nav-footer {
        position: absolute;
        bottom: 0;
        padding-bottom: 30px;

        .nav-footer-social-buttons {
          margin-bottom: 1rem;

          .fa-icon {
            width: 32px;
            height: 32px;
            display: inline-block;
            line-height: 32px;
            font-size: 15px;
            text-align: center;

            &:nth-child(2) {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 0;
    margin-top: 0;

    .navbar-collapse {
      .navbar-nav {
        flex: auto;
        justify-content: space-evenly;
        align-items: center;

        max-width: 500px;
        width: 500px;

        .nav-item {
          .house-order {
            &--hide {
              display: none;
            }
          }

          .nav-link {
            padding: 0;
            margin-right: 1rem;
            font-size: 1rem;
          }

          .phone {
            display: block;
          }
        }

        .contact-btn {
          display: none;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-nav {
        max-width: 700px;
        width: 650px;
        justify-content: space-evenly;

        .nav-item {
          &.desktop {
            display: flex;
          }

          .nav-link {
            margin-right: 0;
            font-size: 1rem;
          }

          a:hover {
            text-decoration: none;
          }

          &:nth-child(1) {
            margin-top: 0;

            .order {
              align-self: center;

              .house-order {
                margin-right: 0.5rem;
                align-self: center;
              }
            }

            // .phones {
            //     width: auto;
            //     padding-right: 0;

            .phone {
              font-size: var(--font-size-sm);
            }
            // }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .navbar-collapse {
      .navbar-nav {
        margin-left: 4rem;
        max-width: 800px;
        width: 700px;

        .nav-item {
          margin-right: 0;

          &:nth-child(1) {
            .order {
              .house-order {
                font-size: var(--font-size-md);
              }
            }
          }

          .nav-link {
            font-size: var(--font-size-md);
            margin-right: 0.25rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
          }
        }
      }
    }
  }
}
