/***********************Smartphones (landscape) ************************/
@media only screen and (min-width: 480px) {
    .section-container.contacts {
        margin: 0;
        padding: 1rem 0 2rem 0;

        .col-12 {
            display: flex;
            justify-content: center;

            .our-contacts {
                margin: 2rem 0;
                padding: 2rem;
                max-height: 600px;
                max-width: 600px;
                width: 100%;
                background: $creamy-white;
                color: $black;

                .address {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    width: 100%;

                    &-desc {
                        font-size: 1.25rem;
                        max-width: 100%;
                        @include column;
                        align-items: center;
                    }

                    .contact-us,
                    .contact-us__mail {
                        font-size: 1.25rem;
                        width: 100%;
                    }

                    .contact-us {
                        &__a1,
                        &__mts {
                            img {
                                height: 1.15em;
                            }
                        }

                        & .phone-number {
                            font-weight: 500;
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

    .footer-social {
        display: none;;
    }
}
