@media only screen and (min-width: 768px) {
    .nav-footer {
        display: none;
    }

    .mobile {
        display: none;
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }

    .section-container.contacts {
        padding: 6rem 0;

        .our-contacts {
            display: flex;
            flex-flow: row wrap;
            padding: 2rem 2rem 2rem 2rem;
            height: 400px;
            max-height: 600px;
            max-width: 600px;
            width: 100%;
            background: $creamy-white;
            color: $black;
        }
    }

    .footer-social {
        display: block;;

        .container {
            .container-flex {
                justify-content: flex-end;

                .find-us {
                }

                .footer {
                    padding: 0;
                }
            }
        }
    }

    .scroll-up {
        display: none;;
    }
}
