@media (min-width: 992px) {
    .section-container.contacts {
        .col-12 {
            flex-flow: column nowrap;
            justify-content: unset;

            .our-contacts {
                margin: 0;
                min-height: 500px;
                align-items: center;
            }
        }
    }

    .footer-social {
        .container {
            .container-flex {
                .find-us {
                    &-airbnb {
                        .airbnb-icon {
                            height: 22px;
                            position: relative;
                            bottom: 2px;
                        }
                    }

                    &-booking {
                        .booking-icon {
                            height: 22px;
                        }
                    }
                }

                .footer {
                    padding: 0;
                }
            }
        }
    }

    .scroll-up {
        position: fixed;
        bottom: 176px;
        right: 142px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: $lighter-brown;
        color: white;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 14px;

        &:hover {
            background-color: $black;
        }

        &:focus {
            outline: none;
        }
    }
}
