@media (min-width: 992px) {
    .section-container.contacts {
        .col-12 {
            flex-flow: column nowrap;
            justify-content: unset;

            .our-contacts {
                margin: 0;
                min-height: 500px;
                align-items: center;
            }
        }
    }
}
