@media (min-width: 992px) {
    .info-banner {
        width: 50rem;

        &__text {
            font-size: 1.5rem;
        }
    }

    .navbar {
        // TODO: fix it later
        padding: 1.5rem 0 !important;

        &.navbar-expand-md {
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
        }

        .container {
            max-width: 980px;
            margin: 0 28px;

            .navbar-header {
                margin-left: 1rem;

                .brand {
                    font-size: 1.2rem;
                    margin-bottom: 0;
                    display: flex;
                    flex-flow: row nowrap;
                }
            }

            .sidebar {
                .navbar-collapse {
                    .navbar-nav {
                        max-width: 700px;
                        width: 650px;
                        justify-content: space-evenly;

                        .nav-item {
                            &.desktop {
                                display: flex;
                            }

                            .nav-link {
                                margin-right: 0;
                                font-size: 1rem;
                                color: $white;
                            }

                            a:hover {
                                text-decoration: none;
                            }

                            &:nth-child(1) {
                                margin-top: 0;

                                .order {
                                    align-self: center;

                                    .house-order {
                                        font-size: 1rem;
                                        margin-right: 0.5rem;
                                        align-self: center;
                                    }
                                }

                                .phones {
                                    margin-left: 1rem;
                                    width: auto;
                                    padding-right: 0;

                                    .mobile-icon {
                                        font-size: 1.25rem;
                                    }

                                    .phone {
                                        font-size: 0.9rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .section-container.services {
        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 2rem;
        }

        .container {
            .content {
                &-text {
                    line-height: 32px;
                    max-width: 800px;
                }

                &-cell {
                    margin-bottom: 2rem;

                    .row {
                        width: 100%;
                    }

                    &-header {
                        margin-top: 1rem;

                        h2 {
                            font-size: 2.5rem;
                        }
                    }

                    &-element {
                        .img-fluid {
                            max-width: 560px;
                            max-height: 560px;
                        }

                        padding: 0;
                    }

                    &-text {
                        h4 {
                            font-size: 1.75rem;
                        }

                        .fish-list {
                            li {
                                margin: 1rem 0;
                            }
                        }
                    }

                    &-rubric {
                        font-size: 1.25rem;
                    }

                    &-subrubric {
                        * {
                            font-size: 1.25rem;
                        }
                    }

                    &-subheader {
                    }
                }

                .bath {
                    margin-top: 2rem;
                }

                .packages {
                    .package-wrapper {
                        .package {
                            &-header {
                            }

                            &-list {
                                &-item {
                                    font-size: 1.25rem;
                                    max-width: 420px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section-container.contacts {
        .col-12 {
            flex-flow: column nowrap;
            justify-content: unset;

            .our-contacts {
                margin: 0;
                min-height: 500px;
                align-items: center;
            }
        }
    }

    .footer-social {
        .container {
            .container-flex {
                .find-us {
                    &-airbnb {
                        .airbnb-icon {
                            height: 22px;
                            position: relative;
                            bottom: 2px;
                        }
                    }

                    &-booking {
                        .booking-icon {
                            height: 22px;
                        }
                    }
                }

                .footer {
                    padding: 0;
                }
            }
        }
    }

    .scroll-up {
        position: fixed;
        bottom: 176px;
        right: 142px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: $lighter-brown;
        color: white;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 14px;

        &:hover {
            background-color: $black;
        }

        &:focus {
            outline: none;
        }
    }
}
