@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,500i,700,700i&display=swap');

@import 'modules/constants';
@import 'modules/animations';
@import 'modules/common';
@import 'modules/mixins';
@import 'gallery';
@import 'partials/footer';
@import 'partials/contacts';
@import 'partials/services';
@import 'partials/hero';
@import 'partials/contact-button';
@import 'partials/video';
@import 'partials/header';
@import 'partials/brand';
@import 'partials/info-banner';
@import 'partials/map';
@import 'partials/scroll-up';
@import 'partials/button-send';
@import 'partials/modal';
@import 'partials/sidebar';

body {
    font-family: var(--font-base);
    color: var(--black);
    padding: 0 !important;
    margin: 0 !important;

    // height: 100vh; /* fallback for Js load */
    // height: var(--doc-height);
}

@supports (scroll-behavior: smooth) {
    *,
    html {
        scroll-behavior: smooth !important;
    }
}

.modal-button {
    margin-top: 1rem;
}

.icon-text {
    padding-left: 0.25rem;
    display: inline-block;
}

.advertisement {
    font-weight: 500;
    color: $orange;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.25rem;
}

#honeypot {
    display: none;
    /* makes the field not visible to humans */
}

.container-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fishing,
.house {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;
}

.package-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.2;

    &--gutter-bottom {
        padding-bottom: 2.25rem;
    }
}

.accommodation {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $orange;
    font-size: 1.75rem;
    font-weight: bold;
}

.overlay {
    display: none;
    opacity: 0.5;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.cross {
    display: flex;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0;
}

.button-link {
    background: inherit;
    position: relative;
    color: var(--white);
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.close-menu,
.open-menu {
    color: var(--lighter-brown);
}

@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
}
