/***********************Smartphones (landscape) ************************/
@media only screen and (min-width: 480px) {
    html,
    body {
        overflow-x: hidden;
    }

    .navbar {
        padding: 1rem 0 1rem 0.25rem;

        .container {
            justify-content: flex-start;

            .navbar-header {
                justify-content: center;

                .fa-angle-double-left.quote {
                    margin-top: 9px;
                    margin-right: 4px;
                }

                .fa-angle-double-right.quote {
                    margin-top: 9px;
                    margin-left: 4px;
                }

                .svg-inline--fa.fa-w-14 {
                    width: 0.675em;
                }

                .brand {
                    font-size: 1.15rem;
                    position: relative;
                    top: 6px;
                    margin: 0;
                    flex-flow: row nowrap;

                    &:hover {
                        color: $dirty-orange;
                    }
                }
            }

            .sidebar {
                top: 62px;
                padding: 30px;

                .navbar-collapse {

                    .navbar-nav {
                        padding-left: 0.5rem;

                        .nav-item {
                            .phones {

                                .phone {
                                    &:nth-child(2) {
                                        margin-top: 0.5rem;
                                    }
                                }
                            }
                        }
                    }

                    .nav-footer {
                        padding-bottom: 30px;

                        a {
                            color: $black;
                        }
                    }
                }
            }
        }
    }

    .contact-with-me {
        display: none;
    }

    .section-container.services {
        padding-bottom: 2rem;
        padding-top: 20px;

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        .container {
            .content {
                padding-bottom: 0;

                .col-12 {
                    @include d-column;
                    align-items: center;
                }

                &-text {
                    font-size: 1.15rem;
                    margin-bottom: 0;
                    max-width: 440px;
                }

                .packages {
                    margin: 0;

                    .package-wrapper {
                        padding: 0;

                        .package {
                            display: flex;
                            flex-flow: column wrap;
                            align-items: center;
                            margin: 0 0 0 -12px;

                            &-header {
                                margin: 1.5rem 0;

                                & .desktop {
                                    @include none;
                                }
                            }

                            &-list {

                                &.mobile {
                                    @include none;
                                }

                                &.desktop {
                                    @include block;
                                }

                                padding: 0 0 0 12px;
                                list-style: none;
                                margin-bottom: 0;

                                &-item {
                                    position: relative;
                                    line-height: 36px;
                                    letter-spacing: -0.6px;
                                    width: 400px;
                                    margin-bottom: 1rem;
                                    font-size: 1.25rem;

                                    .second-row {
                                        margin-left: 2rem;
                                    }

                                    &-disc {
                                        position: relative;
                                        top: 3px;
                                        margin-right: 0.25rem;
                                        vertical-align: bottom;
                                    }
                                }

                                &-item:last-child {
                                    margin: 0;
                                }
                            }
                        }

                        .package-one {
                            padding: 0;
                        }

                        .package-two {
                            padding: 0;
                        }
                    }
                }

                &-cell {
                    margin: 0;
                    padding: 0;

                    &-header {
                        margin-bottom: 2rem;

                        h2 {
                            font-size: 2rem;
                        }
                    }

                    &-element {
                        .img-fluid {
                            max-width: 360px;
                            max-height: 360px;
                            margin-bottom: 1rem;
                        }

                        &:nth-child(2) {
                            padding: 0;
                        }
                    }

                    &-text {
                        margin-bottom: 0.5rem;
                        flex: 1 1 auto;
                        max-width: 380px;

                        h4 {
                            font-size: 1.5rem;
                        }

                        .fish-list {
                            font-size: 1.25rem;
                            margin: 1rem 0 0 0;
                        }
                    }

                    &-rubric {
                        font-size: 1.25rem;
                        max-width: 100%;
                    }

                    &-subrubric {
                        @include d-column;
                        align-items: center;
                        margin: 1rem 0;
                    }

                    &-sibheader {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .section-container.contacts {
        margin: 0;
        padding: 1rem 0 2rem 0;

        .our-contacts {
            margin: 2rem 0;
            padding: 2rem;
            max-height: 600px;
            max-width: 600px;
            width: 100%;
            background: $creamy-white;
            color: $black;

            .address {
                width: 100%;
                align-items: center;

                &-desc {
                    font-size: 1.25rem;
                    max-width: 100%;
                }

                .contact-us-phones,
                .contact-us-mail {
                    font-size: 1.25rem;
                    width: 100%;
                }

                .contact-us-phones {
                    &-velcom,
                    &-mts {
                        img {
                            height: 1.5rem;
                            margin-right: 0.5rem;
                        }
                    }

                    &-mts {
                        .phone-number {
                            margin-left: 0.5rem;
                        }
                    }

                    & .phone-number {
                        font-weight: 500;
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }

    .contact {
        max-width: 320px;
    }

    .footer-social {
        display: none;
    }

    .map {
        height: 500px;
    }
}
