@media only screen and (min-width: 768px) {
    .nav-footer {
        @include none;
    }

    .desktop {
        @include block;
    }

    .mobile {
        @include none;
    }

    .navbar {
        padding: 1rem 0;

        &.navbar-expand-md {
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
        }

        .container {
            max-width: 760px;
            padding: 0;
            overflow: hidden;
            justify-content: space-between;

            .navbar-header {
                margin-left: 0;
                align-self: flex-start;
                margin-top: 0.5rem;

                .brand {
                    font-size: 1rem;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;

                    &-item {
                        &:nth-child(1) {
                            text-align: center;
                            flex: 100%;
                        }
                    }
                }
            }

            .sidebar {
                padding: 0 0 0 20px;

                .navbar-collapse {
                    .navbar-nav {
                        align-items: center;

                        .nav-item {
                            .house-order {
                                &--hide {
                                    @include none;
                                }
                            }

                            .phones {
                                width: 210px;
                                flex-direction: row;
                                padding-right: 0;
                                margin-top: 0.4rem;

                                p {
                                    margin: 0;
                                }

                                .phone {
                                    display: inline-block;

                                    &:nth-child(2) {
                                        margin: 0;
                                    }
                                }
                            }

                            .nav-link {
                                color: $white;
                                padding: 0;
                                margin-right: 1rem;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }

    .section-container.services {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        .container {
            .content {
                &-header {
                    margin: 1rem 5rem;

                    h2 {
                        text-align: center;
                    }
                }

                &-text {
                }

                &-cell {
                    margin-bottom: 2rem;
                    margin-left: 0;
                    padding-right: 0;

                    &-header {
                        h2 {
                            font-size: 2rem;
                        }
                    }

                    &-element {
                        .img-fluid {
                            height: 350px;
                        }

                        &:nth-child(2) {
                        }
                    }

                    &-text {
                        @include d-column;
                        align-items: center;
                        padding: 0;
                        max-width: 320px;
                    }

                    &-rubric {
                        text-align: center;
                        font-size: 1rem;
                    }

                    &-subrubric {
                        * {
                            font-size: 1rem;
                        }
                    }
                }

                .bath {
                    margin-top: 1rem;
                }

                .packages {

                    .package-wrapper {
                        .package {
                            display: flex;
                            flex-flow: column wrap;
                            align-items: center;

                            &-header {
                                margin-bottom: 1rem;
                            }

                            &-list {
                                list-style: none;
                                padding: 0 0 0 1.5rem;

                                &-item {
                                    position: relative;
                                    line-height: 36px;
                                    letter-spacing: -0.6px;
                                    width: 320px;
                                    margin-bottom: 0.25rem;
                                    font-size: 1rem;

                                    &-disc {
                                        display: inline-block;
                                        position: relative;
                                        top: 1px;
                                        margin-right: 0.5rem;
                                        vertical-align: bottom;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-social {
        .container {
            .container-flex {
                justify-content: space-evenly;

                .find-us {
                }

                .footer {
                    padding: 0;
                }
            }
        }
    }

    .our-contacts {
        padding: 2rem 2rem 2rem 4rem;
        height: 400px;
        max-height: 600px;
        max-width: 600px;
        width: 100%;
        background: $creamy-white;
        color: $black;
    }

    .contact {
        @include contact;

        right: 72px;
        top: 120px;
    }

    .map {
        height: 400px;
    }
}
