@media only screen and (min-width: 768px) {
    //.show-banner {
    //    text-align: initial;
    //}
    //
    //.info-banner {
    //    width: 50rem;
    //
    //    &__header {
    //        font-size: 1.75rem;
    //    }
    //
    //    &__text {
    //        font-size: 1.5rem;
    //    }
    //}

    .nav-footer {
        @include none;
    }

    .mobile {
        @include none;
    }

    .navbar {
        padding: 1rem 0;

        &.navbar-expand-md {
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
        }

        .container {
            max-width: 760px;
            padding: 0;
            overflow: hidden;
            justify-content: space-between;

            .navbar-header {
                margin-left: 0;
                align-self: flex-start;
                margin-top: 0.5rem;

                .brand {
                    font-size: 1rem;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;

                    &-item {
                        &:nth-child(1) {
                            text-align: center;
                            flex: 100%;
                        }
                    }
                }
            }

            .sidebar {
                padding: 0 0 0 20px;

                .navbar-collapse {
                    .navbar-nav {
                        flex: auto;
                        max-width: 500px;
                        width: 500px;
                        justify-content: space-evenly;
                        align-items: center;

                        .nav-item {
                            .house-order {
                                &--hide {
                                    @include none;
                                }
                            }

                            .phones {
                                flex: 150px;
                                max-width: 150px;
                                flex-flow: row wrap;
                                padding-right: 0;
                                margin-top: 0.4rem;

                                p {
                                    margin: 0;
                                }

                                .phone {
                                    display: block;

                                    &:nth-child(2) {
                                        margin: 0;
                                    }
                                }
                            }

                            .nav-link {
                                color: $white;
                                padding: 0;
                                margin-right: 1rem;
                                font-size: 1rem;
                            }
                        }

                        .contact {
                            @include none;
                        }
                    }
                }
            }
        }
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }

    .section-container.services {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        .container {
            .content {

                &-header {
                    margin: 1rem 5rem;

                    h2 {
                        text-align: center;
                    }
                }

                &-text {
                    max-width: 590px;
                }

                &-cell {
                    margin-bottom: 2rem;
                    margin-left: 0;
                    padding-right: 0;

                    .row {
                        align-items: center;
                    }

                    &-header {
                        h2 {
                            font-size: 2rem;
                        }
                    }

                    &:nth-child(5),
                    &:nth-child(8) {
                        .img {
                            margin-left: 4rem;
                        }
                    }

                    &-element {
                        &.text {
                            margin-right: -4rem;
                        }
                    }

                    &-text {
                        @include d-column;
                        align-items: center;
                        padding: 0;
                        max-width: 260px;

                        .fish-list {
                            margin: 0;
                            padding: 0;

                            li {
                                margin: 0.25rem 0;
                                font-size: 1rem;
                            }
                        }
                    }

                    &-rubric {
                        text-align: center;
                        font-size: 1.15rem;
                    }

                    &-subrubric {
                        * {
                            font-size: 1rem;
                        }
                    }
                }

                .bath {
                    margin-top: 1rem;
                }

                .packages {

                    .package-wrapper {
                        .package {
                            display: flex;
                            flex-flow: column wrap;
                            align-items: center;

                            &-header {
                                margin-bottom: 1rem;

                                & .desktop {
                                    @include block;
                                }
                            }

                            &-list {
                                list-style: none;
                                padding: 0 0 0 1.5rem;

                                &-item {
                                    position: relative;
                                    line-height: 36px;
                                    letter-spacing: -0.6px;
                                    max-width: 320px;
                                    margin-bottom: 0.25rem;
                                    font-size: 1rem;

                                    &-disc {
                                        display: inline-block;
                                        position: relative;
                                        top: 1px;
                                        margin-right: 0.5rem;
                                        vertical-align: bottom;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section-container.contacts {
        padding: 6rem 0;

        .our-contacts {
            display: flex;
            flex-flow: row wrap;
            padding: 2rem 2rem 2rem 2rem;
            height: 400px;
            max-height: 600px;
            max-width: 600px;
            width: 100%;
            background: $creamy-white;
            color: $black;
        }
    }

    .footer-social {
        @include block;

        .container {
            .container-flex {
                justify-content: space-between;

                .find-us {
                }

                .footer {
                    padding: 0;
                }
            }
        }
    }

    .contact {
        @include contact;

        color: #B47572;
        border: 4px solid #B47572;
        background: rgba(180, 117, 114, 0.1);
        position: fixed;
        right: 20px;
        top: 120px;

        & > .message-text {
            @include none;
        }

        & > .message-icon {
            margin: 0;
            width: 26px;
            color: #B47572;
        }

        &:hover {
            color: $dirty-orange;
            border: 4px solid $dirty-orange;
        }
    }

    .scroll-up {
        @include none;
    }
}
