@media (min-width: 1460px) {
    .navbar {
        &.navbar-expand-md {
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
        }
        .container {
            max-width: 1516px;
            flex: 0 1 auto;

            .navbar-header {
                margin-left: 2.5rem;
                .brand {
                    font-size: 2.25rem;
                    margin-bottom: 0;
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        & > *,
                        .nav-link {
                            font-size: 1.25rem;
                        }

                        .order {
                            .house-order {
                                font-size: 1.25rem !important;
                            }
                        }

                        .nav-link {
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
