@media (min-width: 1200px) {
    .navbar {
        &.navbar-expand-md {
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
        }

        .container {
            max-width: 1260px;

            .navbar-header {
                margin-left: 2rem;

                .brand {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    margin-left: 2rem;

                    .nav-item {
                        margin-right: 0;

                        .nav-link {
                            font-size: 1.15rem;
                            margin-right: 0.25rem;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .section-container.services {
        .container {
            .content {
                &-header {
                    h2 {
                        font-size: 2.5rem;
                    }
                }

                &-cell {
                    &-element {
                        .img-fluid {
                            max-width: 720px;
                            max-height: 720px;
                        }
                    }
                }
            }
        }
    }
}
