/***********************Smartphones (portrait)****************************/
@media only screen and (max-width: 320px) {
    html,
    body {
        overflow-x: hidden;
    }

    .navbar {
        padding: 0.5rem 0rem;
        .container {
            .navbar-toggler {
                font-size: 1rem;
            }

            .navbar-header {
                margin: 0 auto 0.5rem auto;
                flex: 0 1 240px;

                .brand {
                    font-size: 1.15rem;
                    display: flex;
                    justify-content: center;
                    flex-flow: row wrap;
                    flex: 0 1 200px;
                    position: relative;
                    top: 6px;
                    margin: 0 auto;

                    &:hover {
                        color: $dirty-orange;
                    }
                }
            }

            .sidebar {
                border-top: 1px solid #333;
                position: fixed;
                top: 0;
                bottom: 0;
                width: 260px;
                height: auto;
                overflow-x: hidden;
                overflow-y: auto;
                background-color: $brown;
                z-index: 999;
                -webkit-transition: left 0.2s linear;
                -o-transition: left 0.2s linear;
                transition: left 0.2s linear;
                left: -260px;
                top: 68px;
                padding: 30px;

                &.open {
                    left: 0;
                    top: 68px;
                }

                .navbar-collapse {
                    padding: 0;

                    .navbar-nav {
                        padding-left: 0.5rem;

                        .nav-item {
                            .order {
                                text-decoration: none;
                                color: $white;
                            }

                            .house-order {
                                font-size: 1.25rem;
                            }

                            .phones {
                                margin-top: 1rem;

                                .phone {
                                    font-size: 1rem;

                                    &:nth-child(2) {
                                        margin-top: 0.5rem;
                                    }
                                }
                            }

                            .nav-link {
                                color: #fff;
                                margin: 0;
                            }

                            &:nth-child(4) {
                                margin-top: 1rem;
                            }
                        }
                    }

                    .nav-footer {
                        position: absolute;
                        bottom: 0;
                        padding-bottom: 30px;

                        a {
                            color: $black;
                        }

                        p:nth-child(2) {
                            color: $white;
                        }

                        .nav-footer-social-buttons {
                            .fa-icon {
                                color: $black;
                                width: 32px;
                                height: 32px;
                                display: inline-block;
                                line-height: 32px;
                                font-size: 15px;
                                text-align: center;

                                &:nth-child(2) {
                                    margin-left: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section-container.services {
        padding-bottom: 2rem;
        padding-top: 20px;

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        .container {
            .content {
                padding-bottom: 0;

                &-header {
                    h2 {
                        font-size: 1.35rem;
                    }
                }

                &-text {
                    font-size: 1rem;
                    line-height: 26px;
                }

                .packages {
                    margin: 0;

                    .package {
                        max-width: 260px;
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        flex: 1 1 260px;
                        padding: 0;

                        &-header {
                            margin: 0.5rem 0;

                            h3 {
                                font-size: 1.35rem;
                                margin-bottom: 0;
                                text-align: center;
                            }
                        }

                        &-list {
                            padding: 0;
                            list-style: none;
                            margin-bottom: 0;

                            &-item {
                                font-size: 0.9rem;
                                position: relative;
                                line-height: 30px;
                                letter-spacing: -0.6px;
                                margin-bottom: 0.2rem;

                                &-disc {
                                    position: relative;
                                    top: 3px;
                                    margin-right: 0.25rem;
                                    vertical-align: bottom;
                                }

                                .second-row {
                                    margin-left: 2rem;
                                }

                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                &-cell {
                    margin: 0;
                    padding: 0;

                    &-header {
                        font-size: 1.35rem;
                        margin-bottom: 1rem;
                    }

                    &-element {
                        .img-fluid {
                            height: 300px;
                            margin-bottom: 1rem;
                        }

                        &:nth-child(2) {
                            padding: 0;
                        }
                    }

                    &-text {
                        display: flex;
                        flex-flow: column nowrap;
                        flex: 1 1 260px;
                        max-width: 260px;
                        text-align: center;

                        &-rubric {
                            font-size: 1rem;
                            word-wrap: break-word;
                        }

                        h4 {
                            font-size: 1.25rem;
                            font-weight: 400;
                            margin-bottom: 0;
                            text-align: center;
                        }

                        .fish-list {
                            margin: 0 auto;
                            padding: 0;

                            li {
                                margin: 0.5rem 0;
                            }
                        }

                        .prices-wrapper {
                            padding: 1rem;

                            .prices {
                                width: 280px;

                                &-header {
                                    text-align: center;
                                }

                                &-period {
                                    display: inline-block;
                                }

                                .price-text {
                                    text-align: center;
                                }

                                .dash {
                                    display: none;
                                }

                                .prices-list {
                                    padding: 0;
                                }

                                .price {
                                    margin-top: 1rem;
                                    margin-bottom: 1rem;
                                    text-align: center;
                                    display: block;
                                    color: $red;
                                    font-size: 1.75rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section-container.contacts {
        margin: 0;
        padding: 1rem 0rem 2rem 0rem;

        .address {
            &-desc {
                font-size: 1.25rem;
            }
        }

        .contact-us__phones,
        .contact-us__mail {
            font-size: 1.25rem;
        }
    }

    .footer-social {
        display: none;
    }

    .top-btn {
        display: none;
    }

    .our-contacts {
        height: 460px;
        margin: 2rem 0rem;
        padding: 2rem;
        max-height: 600px;
        max-width: 600px;
        width: 100%;
        background: $creamy-white;
        color: $black;
    }
}
