@media (min-width: 1200px) {
    .navbar {
        &.navbar-expand-md {
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
        }

        .container {
            max-width: 1260px;

            .navbar-header {
                margin-left: 2rem;

                .brand {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
            }

            .sidebar {
                .navbar-collapse {
                    .navbar-nav {
                        margin-left: 4rem;
                        max-width: 800px;
                        width: 700px;

                        .nav-item {
                            margin-right: 0;

                            &:nth-child(1) {
                                .order {
                                    .house-order {
                                        font-size: 1.25rem;
                                    }
                                }
                            }

                            .nav-link {
                                font-size: 1.25rem;
                                margin-right: 0.25rem;
                                padding-left: 0.5rem;
                                padding-right: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .hero {
        &-content {
        }

        &-header {
            margin-left: 24rem;
            gap: 4rem;

            > * {
                font-size: 3rem;
            }
        }
    }

    .section-container.services {
        .container {
            .content {
                &-header {
                    h2 {
                        font-size: 2.5rem;
                    }
                }

                &-cell {
                    &-element {
                        .img-fluid {
                            max-width: 720px;
                            max-height: 720px;
                        }
                    }
                }
            }
        }
    }
}
