<div class="overlay"></div>
<div class="section-container info-banner">
    <div class="cross">
        <span class="cross-icon">&times;</span>
    </div>
    <h3 class="info-banner__header">Приглашаем к нам на рыбалку!</h3>
    <div class="info-banner__text">Водоем был зарыблен 20.04.2022!</div>
    <div class="info-banner__text">Карп 300-500г - 250кг.</div>
    <div class="info-banner__text">Карась 200-350г - 250кг.</div>
</div>
