@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,500i,700,700i&display=swap");
.ml-1rem {
  margin-left: 1rem;
}

.ml-2rem {
  margin-left: 2rem;
}

.ml-3rem {
  margin-left: 3rem;
}

.ml-4rem {
  margin-left: 4rem;
}

.ml-5rem {
  margin-left: 5rem;
}

.ml-6rem {
  margin-left: 6rem;
}

.ml-7rem {
  margin-left: 7rem;
}

.ml-8rem {
  margin-left: 8rem;
}

.ml-9rem {
  margin-left: 9rem;
}

.ml-10rem {
  margin-left: 10rem;
}

.mr-1rem {
  margin-right: 1rem;
}

.mr-2rem {
  margin-right: 2rem;
}

.mr-3rem {
  margin-right: 3rem;
}

.mr-4rem {
  margin-right: 4rem;
}

.mr-5rem {
  margin-right: 5rem;
}

.mr-6rem {
  margin-right: 6rem;
}

.mr-7rem {
  margin-right: 7rem;
}

.mr-8rem {
  margin-right: 8rem;
}

.mr-9rem {
  margin-right: 9rem;
}

.mr-10rem {
  margin-right: 10rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mb-3rem {
  margin-bottom: 3rem;
}

.mb-4rem {
  margin-bottom: 4rem;
}

.mb-5rem {
  margin-bottom: 5rem;
}

.mb-6rem {
  margin-bottom: 6rem;
}

.mb-7rem {
  margin-bottom: 7rem;
}

.mb-8rem {
  margin-bottom: 8rem;
}

.mb-9rem {
  margin-bottom: 9rem;
}

.mb-10rem {
  margin-bottom: 10rem;
}

.mt-1rem {
  margin-top: 1rem;
}

.mt-2rem {
  margin-top: 2rem;
}

.mt-3rem {
  margin-top: 3rem;
}

.mt-4rem {
  margin-top: 4rem;
}

.mt-5rem {
  margin-top: 5rem;
}

.mt-6rem {
  margin-top: 6rem;
}

.mt-7rem {
  margin-top: 7rem;
}

.mt-8rem {
  margin-top: 8rem;
}

.mt-9rem {
  margin-top: 9rem;
}

.mt-10rem {
  margin-top: 10rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.pb-3rem {
  padding-bottom: 3rem;
}

.pb-4rem {
  padding-bottom: 4rem;
}

.pb-5rem {
  padding-bottom: 5rem;
}

.pb-6rem {
  padding-bottom: 6rem;
}

.pb-7rem {
  padding-bottom: 7rem;
}

.pb-8rem {
  padding-bottom: 8rem;
}

.pb-9rem {
  padding-bottom: 9rem;
}

.pb-10rem {
  padding-bottom: 10rem;
}

.pt-1rem {
  padding-top: 1rem;
}

.pt-2rem {
  padding-top: 2rem;
}

.pt-3rem {
  padding-top: 3rem;
}

.pt-4rem {
  padding-top: 4rem;
}

.pt-5rem {
  padding-top: 5rem;
}

.pt-6rem {
  padding-top: 6rem;
}

.pt-7rem {
  padding-top: 7rem;
}

.pt-8rem {
  padding-top: 8rem;
}

.pt-9rem {
  padding-top: 9rem;
}

.pt-10rem {
  padding-top: 10rem;
}

.pr-1rem {
  padding-right: 1rem;
}

.pr-2rem {
  padding-right: 2rem;
}

.pr-3rem {
  padding-right: 3rem;
}

.pr-4rem {
  padding-right: 4rem;
}

.pr-5rem {
  padding-right: 5rem;
}

.pr-6rem {
  padding-right: 6rem;
}

.pr-7rem {
  padding-right: 7rem;
}

.pr-8rem {
  padding-right: 8rem;
}

.pr-9rem {
  padding-right: 9rem;
}

.pr-10rem {
  padding-right: 10rem;
}

.pl-1rem {
  padding-left: 1rem;
}

.pl-2rem {
  padding-left: 2rem;
}

.pl-3rem {
  padding-left: 3rem;
}

.pl-4rem {
  padding-left: 4rem;
}

.pl-5rem {
  padding-left: 5rem;
}

.pl-6rem {
  padding-left: 6rem;
}

.pl-7rem {
  padding-left: 7rem;
}

.pl-8rem {
  padding-left: 8rem;
}

.pl-9rem {
  padding-left: 9rem;
}

.pl-10rem {
  padding-left: 10rem;
}

.py-1rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-3rem {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-4rem {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-5rem {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-6rem {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-7rem {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-8rem {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.py-9rem {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.py-10rem {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.px-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2rem {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-3rem {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-4rem {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-5rem {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-6rem {
  padding-left: 6rem;
  padding-right: 6rem;
}

.px-7rem {
  padding-left: 7rem;
  padding-right: 7rem;
}

.px-8rem {
  padding-left: 8rem;
  padding-right: 8rem;
}

.px-9rem {
  padding-left: 9rem;
  padding-right: 9rem;
}

.px-10rem {
  padding-left: 10rem;
  padding-right: 10rem;
}

.h-1rem {
  height: 1rem;
}

.h-2rem {
  height: 2rem;
}

.h-3rem {
  height: 3rem;
}

.h-4rem {
  height: 4rem;
}

.h-5rem {
  height: 5rem;
}

.h-6rem {
  height: 6rem;
}

.h-7rem {
  height: 7rem;
}

.h-8rem {
  height: 8rem;
}

.h-9rem {
  height: 9rem;
}

.h-10rem {
  height: 10rem;
}

.h-100px {
  height: 100px;
}

.h-200px {
  height: 200px;
}

.h-300px {
  height: 300px;
}

.h-400px {
  height: 400px;
}

.h-500px {
  height: 500px;
}

.h-600px {
  height: 600px;
}

.h-700px {
  height: 700px;
}

.h-800px {
  height: 800px;
}

.h-900px {
  height: 900px;
}

.h-1000px {
  height: 1000px;
}

.p-20px {
  padding: 20px;
}

.p-21px {
  padding: 21px;
}

.p-22px {
  padding: 22px;
}

.p-23px {
  padding: 23px;
}

.p-24px {
  padding: 24px;
}

.p-25px {
  padding: 25px;
}

.p-26px {
  padding: 26px;
}

.p-27px {
  padding: 27px;
}

.p-28px {
  padding: 28px;
}

.p-29px {
  padding: 29px;
}

.p-30px {
  padding: 30px;
}

.p-31px {
  padding: 31px;
}

.p-32px {
  padding: 32px;
}

.p-33px {
  padding: 33px;
}

.p-34px {
  padding: 34px;
}

.p-35px {
  padding: 35px;
}

.p-36px {
  padding: 36px;
}

.p-37px {
  padding: 37px;
}

.p-38px {
  padding: 38px;
}

.p-39px {
  padding: 39px;
}

.p-40px {
  padding: 40px;
}

.bg-light-black {
  background-color: #110d0d;
}

.bg-brown {
  background-color: #2b1910;
}

.bg-creamy-white {
  background-color: rgba(247, 247, 239, 0.6);
}

.text-black {
  color: #222;
}

.text-white {
  color: #fff;
}

.outline-none {
  outline: none;
}

.decoration-none {
  text-decoration: none;
}

/***********************Smartphones (portrait)****************************/
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  html,
  body {
    overflow-x: hidden;
  }
  .show-banner {
    animation: fadeInAnimation ease 1s;
    display: flex !important;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .info-banner {
    display: none;
    padding: 3rem;
    color: #b47572;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #b47572;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #ffffff;
    z-index: 1000;
  }
  .info-banner__header {
    font-size: 1.5rem;
  }
  .info-banner__text {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .navbar {
    padding: 0.5rem 0;
  }
  .navbar .container .navbar-toggler {
    font-size: 1rem;
  }
  .navbar .container .navbar-toggler > .close-icon {
    width: 1.2em;
    height: 1.2em;
    padding-left: 0.4rem;
  }
  .navbar .container .navbar-header {
    margin: 0 auto 0.5rem auto;
    flex: 0 1 240px;
  }
  .navbar .container .navbar-header .brand {
    font-size: 1.15rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex: 0 1 200px;
    position: relative;
    top: 6px;
    margin: 0 auto;
  }
  .navbar .container .navbar-header .brand:hover {
    color: #bf8c63;
  }
  .navbar .container .sidebar {
    display: block;
    border-top: 1px solid #333;
    position: fixed;
    bottom: 0;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    transition: left 0.2s linear;
    left: -100%;
    padding: 30px;
    margin-top: 4rem;
    padding: 10px 30px;
  }
  .navbar .container .sidebar.open {
    left: 0;
  }
  .navbar .container .sidebar .navbar-collapse {
    padding: 0;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .order {
    text-decoration: none;
    color: #fff;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .house-order {
    font-size: 1.25rem;
    cursor: pointer;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .phones {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .phones p {
    margin-bottom: 0.5rem;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    margin: 0;
    padding: 0.2rem 0;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item:nth-child(5) {
    margin-top: 0.5rem;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .contact {
    display: block;
    background-color: inherit;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 10px;
    position: absolute;
    right: 100px;
    top: 50px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 6px 7px 40px -4px rgba(255, 255, 255, 0.4);
    position: relative;
    right: 0.625rem;
    top: 1rem;
    color: #b47572;
    border: 4px solid #b47572;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .contact:hover {
    color: #bf8c63;
    border: 2px solid #bf8c63;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .contact:focus {
    outline: none;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .contact > .message-icon {
    width: 26px;
    color: #b47572;
    margin-right: 0.75rem;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .contact > .message-text {
    display: inline-block;
  }
  .navbar .container .sidebar .navbar-collapse .nav-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
  }
  .navbar .container .sidebar .navbar-collapse .nav-footer p,
  .navbar .container .sidebar .navbar-collapse .nav-footer div {
    color: #fff;
  }
  .navbar .container .sidebar .navbar-collapse .nav-footer .nav-footer-social-buttons {
    margin-bottom: 1rem;
  }
  .navbar .container .sidebar .navbar-collapse .nav-footer .nav-footer-social-buttons .fa-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
  }
  .navbar .container .sidebar .navbar-collapse .nav-footer .nav-footer-social-buttons .fa-icon:nth-child(2) {
    margin-left: 0.5rem;
  }
  .hero-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .hero-header {
    margin: 0 4rem 10rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .hero-header > * {
    font-size: 1.5rem;
  }
  .section-container.services {
    padding-bottom: 2rem;
    padding-top: 20px;
  }
  .section-container.services h1 {
    font-size: 2rem;
  }
  .section-container.services h2 {
    font-size: 1.75rem;
  }
  .section-container.services .container .content {
    padding: 20px 20px 0 20px;
  }
  .section-container.services .container .content-header {
    text-align: center;
    margin-bottom: 1rem;
  }
  .section-container.services .container .content-text {
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
  }
  .section-container.services .container .content .packages {
    margin: 0;
  }
  .section-container.services .container .content .packages .package {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
  }
  .section-container.services .container .content .packages .package-header {
    margin: 0.5rem 0;
  }
  .section-container.services .container .content .packages .package-header h3 {
    margin-bottom: 0;
    text-align: center;
  }
  .section-container.services .container .content .packages .package-list {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
  }
  .section-container.services .container .content .packages .package-list-item {
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: -0.6px;
    margin-bottom: 0.2rem;
  }
  .section-container.services .container .content .packages .package-list-item-disc {
    position: relative;
    top: 3px;
    margin-right: 0.25rem;
    vertical-align: bottom;
  }
  .section-container.services .container .content .packages .package-list-item .second-row {
    margin-left: 2rem;
  }
  .section-container.services .container .content .packages .package-list-item:last-child {
    margin: 0;
  }
  .section-container.services .container .content-cell {
    padding: 0;
    margin: 0 0 1.5rem 0;
  }
  .section-container.services .container .content-cell-header {
    margin-bottom: 1rem;
  }
  .section-container.services .container .content-cell:nth-child(5) .row, .section-container.services .container .content-cell:nth-child(8) .row {
    flex-flow: column-reverse;
  }
  .section-container.services .container .content-cell-element {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    margin-top: 1.5rem;
  }
  .section-container.services .container .content-cell-element:nth-child(2) {
    padding: 0;
  }
  .section-container.services .container .content-cell-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1 1 280px;
    max-width: 280px;
    padding: 0;
  }
  .section-container.services .container .content-cell-text h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
  }
  .section-container.services .container .content-cell-text .fish-list {
    margin: 0 auto;
    padding: 0;
    font-size: 1.15rem;
    text-align: center;
  }
  .section-container.services .container .content-cell-text .fish-list li {
    margin: 0.5rem 0;
  }
  .section-container.services .container .content-cell-rubric {
    text-align: center;
    font-size: 1.15rem;
    word-wrap: break-word;
    margin-bottom: 0.25rem;
    max-width: 240px;
    line-height: 20px;
  }
  .section-container.contacts {
    margin: 0;
    padding: 1rem 0;
  }
  .section-container.contacts .our-contacts {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex: 1 1 auto;
    margin: 1.5rem auto;
    padding: 1rem;
    background: rgba(247, 247, 239, 0.6);
    color: #222;
  }
  .section-container.contacts .our-contacts .address {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
  }
  .section-container.contacts .our-contacts .address:nth-child(1) {
    margin-bottom: 0.75rem;
  }
  .section-container.contacts .our-contacts .address h4 {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .section-container.contacts .our-contacts .address-desc {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 1rem;
  }
  .section-container.contacts .our-contacts .contact-us__phones, .section-container.contacts .our-contacts .contact-us__mail {
    font-size: 1rem;
  }
  .section-container.contacts .our-contacts .contact-us__phones .phone-number {
    font-weight: 400;
  }
  .footer-social {
    display: none;
  }
  .map {
    height: 400px;
  }
  .contact {
    display: none;
  }
  .scroll-up {
    display: none;
  }
}
/***********************Smartphones (landscape) ************************/
@media only screen and (min-width: 480px) {
  html,
  body {
    overflow-x: hidden;
  }
  .navbar {
    padding: 1rem 0 1rem 0.25rem;
  }
  .navbar .container {
    justify-content: flex-start;
  }
  .navbar .container .navbar-header {
    justify-content: center;
  }
  .navbar .container .navbar-header .fa-angle-double-left.quote {
    margin-top: 9px;
    margin-right: 4px;
  }
  .navbar .container .navbar-header .fa-angle-double-right.quote {
    margin-top: 9px;
    margin-left: 4px;
  }
  .navbar .container .navbar-header .svg-inline--fa.fa-w-14 {
    width: 0.675em;
  }
  .navbar .container .navbar-header .brand {
    font-size: 1.15rem;
    position: relative;
    top: 6px;
    margin: 0;
    flex-flow: row nowrap;
  }
  .navbar .container .navbar-header .brand:hover {
    color: #bf8c63;
  }
  .navbar .container .sidebar {
    top: 62px;
    padding: 30px;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav {
    padding-left: 0.5rem;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .phones .phone:nth-child(2) {
    margin-top: 0.5rem;
  }
  .navbar .container .sidebar .navbar-collapse .nav-footer {
    padding-bottom: 30px;
  }
  .navbar .container .sidebar .navbar-collapse .nav-footer a {
    color: #222;
  }
  .navbar .container .sidebar .contact {
    max-width: 320px;
  }
  .section-container.services {
    padding: 4rem 0;
  }
  .section-container.services h1 {
    font-size: 2rem;
  }
  .section-container.services h2 {
    font-size: 1.75rem;
  }
  .section-container.services .container .content {
    padding-bottom: 0;
  }
  .section-container.services .container .content .col-12 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .section-container.services .container .content-text {
    font-size: 1.15rem;
    margin-bottom: 0;
    max-width: 440px;
  }
  .section-container.services .container .content .packages {
    margin: 0;
  }
  .section-container.services .container .content .packages .package-wrapper {
    padding: 0;
  }
  .section-container.services .container .content .packages .package-wrapper .package {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0 0 0 -12px;
  }
  .section-container.services .container .content .packages .package-wrapper .package-header {
    margin: 1.5rem 0;
  }
  .section-container.services .container .content .packages .package-wrapper .package-header .desktop {
    display: none;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list {
    padding: 0 0 0 12px;
    list-style: none;
    margin-bottom: 0;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list.mobile {
    display: none;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list.desktop {
    display: block;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list-item {
    position: relative;
    line-height: 36px;
    letter-spacing: -0.6px;
    width: 400px;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list-item .second-row {
    margin-left: 2rem;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list-item-disc {
    position: relative;
    top: 3px;
    margin-right: 0.25rem;
    vertical-align: bottom;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list-item:last-child {
    margin: 0;
  }
  .section-container.services .container .content .packages .package-wrapper .package-one {
    padding: 0;
  }
  .section-container.services .container .content .packages .package-wrapper .package-two {
    padding: 0;
  }
  .section-container.services .container .content-cell {
    margin: 0 0 1.5rem 0;
    padding: 0;
    justify-content: center;
  }
  .section-container.services .container .content-cell-header {
    margin-bottom: 2rem;
  }
  .section-container.services .container .content-cell-header h2 {
    font-size: 2rem;
  }
  .section-container.services .container .content-cell-element.img {
    justify-content: center;
  }
  .section-container.services .container .content-cell-element:nth-child(2) {
    padding: 0;
  }
  .section-container.services .container .content-cell-text {
    flex: 1 1 auto;
    max-width: 380px;
  }
  .section-container.services .container .content-cell-text h4 {
    font-size: 1.5rem;
  }
  .section-container.services .container .content-cell-text .fish-list {
    font-size: 1.25rem;
    margin: 1rem 0 0 0;
    text-align: center;
  }
  .section-container.services .container .content-cell-rubric {
    font-size: 1.25rem;
    max-width: 100%;
  }
  .section-container.services .container .content-cell-subrubric {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem 0;
  }
  .section-container.services .container .content-cell-sibheader {
    text-decoration: underline;
  }
  .section-container.contacts {
    margin: 0;
    padding: 1rem 0 2rem 0;
  }
  .section-container.contacts .col-12 {
    display: flex;
    justify-content: center;
  }
  .section-container.contacts .col-12 .our-contacts {
    margin: 2rem 0;
    padding: 2rem;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    background: rgba(247, 247, 239, 0.6);
    color: #222;
  }
  .section-container.contacts .col-12 .our-contacts .address {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }
  .section-container.contacts .col-12 .our-contacts .address-desc {
    font-size: 1.25rem;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .section-container.contacts .col-12 .our-contacts .address .contact-us-phones,
  .section-container.contacts .col-12 .our-contacts .address .contact-us-mail {
    font-size: 1.25rem;
    width: 100%;
  }
  .section-container.contacts .col-12 .our-contacts .address .contact-us-phones-velcom img, .section-container.contacts .col-12 .our-contacts .address .contact-us-phones-mts img {
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  .section-container.contacts .col-12 .our-contacts .address .contact-us-phones .phone-number {
    font-weight: 500;
    font-size: 1.15rem;
  }
  .section-container.contacts .map {
    min-height: 500px;
  }
  .footer-social {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .show-banner {
    animation: fadeInAnimation ease 1s;
    display: flex !important;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .info-banner {
    display: none;
    padding: 3rem;
    color: #b47572;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #b47572;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #ffffff;
    z-index: 1000;
  }
  .info-banner__header {
    font-size: 1.75rem;
  }
  .info-banner__text {
    font-size: 1.5rem;
  }
  .nav-footer {
    display: none;
  }
  .mobile {
    display: none;
  }
  .navbar {
    padding: 1rem 0;
  }
  .navbar.navbar-expand-md {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
  }
  .navbar .container {
    max-width: 760px;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
  }
  .navbar .container .navbar-header {
    margin-left: 0;
    align-self: flex-start;
    margin-top: 0.5rem;
  }
  .navbar .container .navbar-header .brand {
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .navbar .container .navbar-header .brand-item:nth-child(1) {
    text-align: center;
    flex: 100%;
  }
  .navbar .container .sidebar {
    padding: 0 0 0 20px;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav {
    flex: auto;
    max-width: 500px;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .house-order--hide {
    display: none;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .phones {
    flex: 150px;
    max-width: 150px;
    flex-flow: row wrap;
    padding-right: 0;
    margin-top: 0.4rem;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .phones p {
    margin: 0;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .phones .phone {
    display: block;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .phones .phone:nth-child(2) {
    margin: 0;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 0;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .contact {
    display: none;
  }
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  .hero-content {
    display: flex;
    justify-content: flex-end;
  }
  .hero-header {
    margin: 6rem 4rem 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .hero-header > * {
    font-size: 2rem;
  }
  .section-container.services h1 {
    font-size: 2rem;
  }
  .section-container.services h2 {
    font-size: 1.75rem;
  }
  .section-container.services .container .content-header {
    margin: 1rem 5rem;
  }
  .section-container.services .container .content-header h2 {
    text-align: center;
  }
  .section-container.services .container .content-text {
    max-width: 590px;
  }
  .section-container.services .container .content-cell {
    margin-bottom: 2rem;
    margin-left: 0;
    padding-right: 0;
  }
  .section-container.services .container .content-cell .row {
    align-items: center;
  }
  .section-container.services .container .content-cell-header h2 {
    font-size: 2rem;
  }
  .section-container.services .container .content-cell:nth-child(5) .img, .section-container.services .container .content-cell:nth-child(8) .img {
    margin-left: 4rem;
  }
  .section-container.services .container .content-cell-element.text {
    margin-right: -4rem;
  }
  .section-container.services .container .content-cell-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0;
    max-width: 260px;
  }
  .section-container.services .container .content-cell-text .fish-list {
    margin: 0;
    padding: 0;
  }
  .section-container.services .container .content-cell-text .fish-list li {
    margin: 0.25rem 0;
    font-size: 1rem;
  }
  .section-container.services .container .content-cell-rubric {
    text-align: center;
    font-size: 1.15rem;
  }
  .section-container.services .container .content-cell-subrubric * {
    font-size: 1rem;
  }
  .section-container.services .container .content .bath {
    margin-top: 1rem;
  }
  .section-container.services .container .content .packages .package-wrapper .package {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .section-container.services .container .content .packages .package-wrapper .package-header {
    margin-bottom: 1rem;
  }
  .section-container.services .container .content .packages .package-wrapper .package-header .desktop {
    display: block;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list {
    list-style: none;
    padding: 0 0 0 1.5rem;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list-item {
    position: relative;
    line-height: 36px;
    letter-spacing: -0.6px;
    max-width: 320px;
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list-item-disc {
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 0.5rem;
    vertical-align: bottom;
  }
  .section-container.contacts {
    padding: 6rem 0;
  }
  .section-container.contacts .our-contacts {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem 2rem 2rem 2rem;
    height: 400px;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    background: rgba(247, 247, 239, 0.6);
    color: #222;
  }
  .footer-social {
    display: block;
  }
  .footer-social .container .container-flex {
    justify-content: flex-end;
  }
  .footer-social .container .container-flex .footer {
    padding: 0;
  }
  .contact {
    display: block;
    background-color: inherit;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 10px;
    position: absolute;
    right: 100px;
    top: 50px;
    cursor: pointer;
    z-index: 999;
    box-shadow: 6px 7px 40px -4px rgba(255, 255, 255, 0.4);
    color: #b47572;
    border: 4px solid #b47572;
    background: rgba(180, 117, 114, 0.1);
    position: fixed;
    right: 20px;
    top: 120px;
  }
  .contact:hover {
    color: #bf8c63;
    border: 2px solid #bf8c63;
  }
  .contact:focus {
    outline: none;
  }
  .contact > .message-text {
    display: none;
  }
  .contact > .message-icon {
    margin: 0;
    width: 26px;
    color: #b47572;
  }
  .contact:hover {
    color: #bf8c63;
    border: 4px solid #bf8c63;
  }
  .scroll-up {
    display: none;
  }
}
@media (min-width: 992px) {
  .info-banner {
    width: 50rem;
  }
  .navbar {
    padding: 1.5rem 0;
  }
  .navbar.navbar-expand-md {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
  }
  .navbar .container {
    max-width: 980px;
    margin: 0 28px;
  }
  .navbar .container .navbar-header {
    margin-left: 1rem;
  }
  .navbar .container .navbar-header .brand {
    font-size: 1.2rem;
    margin-bottom: 0;
    display: flex;
    flex-flow: row nowrap;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav {
    max-width: 700px;
    width: 650px;
    justify-content: space-evenly;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item.desktop {
    display: flex;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .nav-link {
    margin-right: 0;
    font-size: 1rem;
    color: #fff;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item a:hover {
    text-decoration: none;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item:nth-child(1) {
    margin-top: 0;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item:nth-child(1) .order {
    align-self: center;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item:nth-child(1) .order .house-order {
    font-size: 1rem;
    margin-right: 0.5rem;
    align-self: center;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item:nth-child(1) .phones {
    margin-left: 1rem;
    width: auto;
    padding-right: 0;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item:nth-child(1) .phones .mobile-icon {
    font-size: 1.25rem;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item:nth-child(1) .phones .phone {
    font-size: 0.9rem;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .hero-header {
    margin: 6rem 10rem 0 4rem;
  }
  .hero-header > * {
    font-size: 2.5rem;
  }
  .section-container.services h1 {
    font-size: 2.5rem;
  }
  .section-container.services h2 {
    font-size: 2rem;
  }
  .section-container.services .container .content-text {
    line-height: 32px;
    max-width: 800px;
  }
  .section-container.services .container .content-cell {
    margin-bottom: 2rem;
  }
  .section-container.services .container .content-cell .row {
    width: 100%;
  }
  .section-container.services .container .content-cell-header {
    margin-top: 1rem;
  }
  .section-container.services .container .content-cell-header h2 {
    font-size: 2.5rem;
  }
  .section-container.services .container .content-cell-element {
    padding: 0;
  }
  .section-container.services .container .content-cell-element .img-fluid {
    max-width: 560px;
    max-height: 560px;
  }
  .section-container.services .container .content-cell-text h4 {
    font-size: 1.75rem;
  }
  .section-container.services .container .content-cell-text .fish-list li {
    margin: 1rem 0;
  }
  .section-container.services .container .content-cell-rubric {
    font-size: 1.25rem;
  }
  .section-container.services .container .content-cell-subrubric * {
    font-size: 1.25rem;
  }
  .section-container.services .container .content .bath {
    margin-top: 2rem;
  }
  .section-container.services .container .content .packages .package-wrapper .package-list-item {
    font-size: 1.25rem;
    max-width: 420px;
  }
  .section-container.contacts .col-12 {
    flex-flow: column nowrap;
    justify-content: unset;
  }
  .section-container.contacts .col-12 .our-contacts {
    margin: 0;
    min-height: 500px;
    align-items: center;
  }
  .section-container.contacts .col-12 .our-contacts .contact-us-phones-header {
    font-size: 1.25rem;
  }
  .footer-social .container .container-flex .find-us-airbnb .airbnb-icon {
    height: 22px;
    position: relative;
    bottom: 2px;
  }
  .footer-social .container .container-flex .find-us-booking .booking-icon {
    height: 22px;
  }
  .footer-social .container .container-flex .footer {
    padding: 0;
  }
  .scroll-up {
    position: fixed;
    bottom: 140px;
    right: 28px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #492c1d;
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 14px;
  }
  .scroll-up:hover {
    background-color: #222;
  }
  .scroll-up:focus {
    outline: none;
  }
}
@media (min-width: 1200px) {
  .navbar.navbar-expand-md {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
  }
  .navbar .container {
    max-width: 1260px;
  }
  .navbar .container .navbar-header {
    margin-left: 2rem;
  }
  .navbar .container .navbar-header .brand {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav {
    margin-left: 4rem;
    max-width: 800px;
    width: 700px;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item {
    margin-right: 0;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item:nth-child(1) .order .house-order {
    font-size: 1.25rem;
  }
  .navbar .container .sidebar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1.25rem;
    margin-right: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .hero-header {
    margin-left: 24rem;
    gap: 4rem;
  }
  .hero-header > * {
    font-size: 3rem;
  }
  .section-container.services .container .content-header h2 {
    font-size: 2.5rem;
  }
  .section-container.services .container .content-cell-element .img-fluid {
    max-width: 720px;
    max-height: 720px;
  }
}
.gallery {
  flex-flow: row nowrap !important;
  align-items: initial !important;
}
@media only screen and (min-width: 320px) {
  .gallery__desk--left, .gallery__desk--right {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .gallery__desk--right.first {
    max-width: 12%;
    min-width: 12%;
  }
  .gallery__desk--left, .gallery__desk--right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .gallery__desk--left {
    margin-left: 0.5rem;
  }
  .gallery__desk--right {
    margin-right: 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__desk--right.first {
    max-width: initial;
    min-width: initial;
  }
}
.gallery__url {
  margin-bottom: 0.5rem;
}
.gallery__figure {
  display: none;
}

/*----------------------- FOOTER ------------------------*/
.footer-social {
  background-color: #110d0d;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.footer-item {
  list-style: none;
  padding: 0 0.5rem;
}

.footer-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 0.5rem;
}
.footer-link:hover {
  text-decoration: none;
}
.footer-link.airbnb {
  color: #fd5c63;
}
.footer-link.booking {
  color: #003382;
}
.footer-link.skype {
  color: #00aff0;
}
.footer-link.viber {
  color: #665cac;
}
.footer-link.whatsApp {
  color: #25d366;
}
.footer-link .fa-skype,
.footer-link .fa-viber,
.footer-link .fa-whatsapp {
  font-size: 30px;
}
.footer-link .booking-icon,
.footer-link .airbnb-icon {
  width: 30px;
}

/******************************contacts******************************/
.section-container.contacts {
  background: url(../../assets/images/stones_1920x1080.jpg) no-repeat center center fixed;
  background-size: cover;
}
.section-container.contacts .our-contacts .address-desc-item {
  text-align: center;
}

.section-container.no-padding {
  padding-top: 0;
}

.contact-us-mail > .mail-icon {
  height: 20px;
  width: 20px;
}

.contact-us-phones .phone-number {
  font-weight: bolder;
}

.contact-us-phones,
.contact-us-phones-mts,
.contact-us-phones-velcom {
  padding-top: 0.5rem;
}

.contact-us-phones-mts > .mts-icon {
  height: 18px;
}

.contact-us-phones-velcom > .velcom-icon {
  height: 14px;
}

.btn-send {
  background: #2b1910;
  color: #fff;
}
.btn-send:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #9e6132;
}

.contact-modal {
  padding: 0;
}

/*section-container.services*/
.section-container.services .content {
  border-radius: 2rem;
  border: 2px solid #704936;
}
.section-container.services .content-header {
  font-weight: 400;
}
.section-container.services .content-text {
  font-size: 1.15rem;
  font-style: italic;
  line-height: 30px;
}
.section-container.services .content-cell-header {
  font-size: 2rem;
}
.section-container.services .content-cell-text {
  line-height: 26px;
  padding: 10px 20px;
  font-size: 1.25rem;
  align-self: center;
  color: #492c1d;
}
.section-container.services .content-cell-text-rubric {
  margin-bottom: 0.75rem;
}
.section-container.services .content-cell-text .fish-list {
  text-align: initial;
  margin-left: -2rem;
}
.section-container.services .content-cell-text .fish-list li {
  margin: 1rem 0;
}
.section-container.services .content-cell-text .fish-list li::marker {
  content: "🔸";
}
.section-container.services .carousel-indicators li {
  background-color: #c9c9c9;
}
.section-container.services .carousel-indicators .active {
  background-color: #fff;
}

.section-container.hero {
  background: url(../../assets/images/fish.jpeg) no-repeat fixed;
  background-size: cover;
  color: #2b1910;
  text-align: center;
  height: 50rem;
  height: var(--doc-height);
}

.hero-content {
  display: flex;
}
:root {
  --doc-height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #000;
  padding: 0 !important;
  margin: 0 !important;
  color: greenyellow;
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}

/***************fixed element on scroll smoothly ********************/
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transform: translateY(-100%);
  transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.74);
}
.fixed .contact {
  display: none;
}

body.down .fixed {
  transform: translateY(0);
}

/* fixed element on scroll smoothly */
.just-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-nav .nav-item.hover .nav-link {
  position: relative;
  color: #fff;
  text-decoration: none;
}
.navbar .navbar-nav .nav-item.hover:hover {
  color: #bf8c63;
}
.navbar .navbar-nav .nav-item.hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bf8c63;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
.navbar .navbar-nav .nav-item.hover:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.navbar .navbar-nav .nav-item .house-order {
  font-size: 1rem;
  color: #fff;
}
.navbar .navbar-nav .nav-item .mobile-icon {
  margin-right: 0.6rem;
  vertical-align: middle;
  margin-top: 0.25rem;
  align-self: center;
  font-size: 1.4rem;
}
.navbar .navbar-nav .nav-item .phones {
  display: flex;
  flex-direction: column;
  padding-right: 1.2rem;
}
.navbar .navbar-nav .nav-item .phone {
  font-size: 0.9rem;
}
.navbar .navbar-nav .nav-item .phone :hover {
  color: #bf8c63;
}
.navbar .navbar-nav .nav-item .phone:hover {
  text-decoration: none;
}

/***********************nav menu**********************/
.container > .navbar-header {
  display: flex;
}

.navbar {
  box-shadow: 0 5px 20px #311f1c;
  border-radius: 2px;
}

.brand {
  cursor: context-menu;
  color: #bf8c63;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

.nav-link {
  font-size: 1.25rem;
  margin-right: 1.25rem;
}

.modal-button {
  margin-top: 1rem;
}

.icon-text {
  padding-left: 0.25rem;
  display: inline-block;
}

.advertisement {
  font-weight: 500;
  color: #f66f30;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}

.map {
  max-height: 600px;
  max-width: 600px;
  width: 100%;
  background-color: grey;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 30px;
}

#honeypot {
  display: none;
  /* makes the field not visible to humans */
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

.container-flex {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 6rem;
  margin-top: -3rem;
}

.intro {
  display: flex;
  justify-content: center;
}
.intro > * {
  width: 100%;
}

.fishing,
.house {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}

.package-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 1.2;
}
.package-header--gutter-bottom {
  padding-bottom: 2.25rem;
}

.accommodation {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f66f30;
  font-size: 1.75rem;
  font-width: bold;
}

.hide-banner {
  animation: fadeOutAnimation ease 1.5s;
}

.overlay {
  display: none;
  opacity: 0.5;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.cross {
  display: flex;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 0;
}

.button-link {
  background: inherit;
  position: relative;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
